@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Quicksand&display=swap');

:root {
    --yelllow: #F2D189;
    --orange: #F2C289;
    --green: #85C28B;
    --blue: #82B0D1;
    --white: #F7FAFC;
    --black: #28333C;
}
* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Comfortaa';
    font-weight: 600;
}

h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

p {
    font-family: 'Quicksand';
    font-size: 2rem;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--white);
    color: var(--black);
    padding: 0rem 3rem 3rem 3rem;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 15% 50% 35%;
    grid-template-columns: 60% 40%;
    gap: 2rem;
}


/* ================ HEADER & HERO PICTURE ======================= */

header {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    align-items: baseline;
}
#logo {
    width: 4%;
    padding-top: 2rem;
    min-width: 40px;
}
h1 {
    font-size: 3rem;
    padding-left: 0.5%;
}

#dog-picture {
    visibility: visible;
    grid-column: 2;
    grid-row: 2/3;
    width: 100%;
    height: 130%;
    margin-top: -11rem;
    margin-left: -3rem;
}

/* ================ TEXT DESCRIPTION AND FORM ======================= */

#description-and-form {
    height: 100%;
    width: 60%;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    text-justify: center;
    margin-left: 15rem;
    display: grid;
    grid-template-rows: 15% 50% 35%;
}
form {
    display: flex;
    align-content: center;
    justify-content: space-around;
    column-gap: 2rem;
    padding-bottom: 1rem;
    width: 100%;
}
button {
    background: var(--green);
    border-radius: 50px;
    border-style: none;
    border: 1px solid var(--black);
    width: 50%;
    height: 30%;
    font-size: 1.9rem;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
    font-family: 'Quicksand';
    margin-top: 1rem;
}
#house-icon {
    grid-column: 1;
    justify-self: flex-end;
    width: 50%;
    height: 50%;
    align-self: center;
}
#location-input {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    align-self: center;
    justify-self: center;
    height: 30%;
    width: 90%;
    font-size: 1.8rem;
}

/* ================ WEATHER PREDICTION RESULT ======================= */

#weather-prediction {
    box-sizing: border-box;
    height: 97%;
    width: 165%;
    grid-row: 3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    visibility: hidden;
}
.day-prediction {
    box-sizing: border-box;
    border: solid 2px var(--black);
    padding: 2rem;
    width: 100%;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 40% repeat(3, 20%);
    display: grid;
    grid-template-rows: 40% 15% 15% 15%;
}
.header-day-prediction {
    background: var(--green);
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}
.header-day-prediction div {
    padding-top: 1%;
    height: 50%;
    width: 100%;
    align-content: center;
    justify-content: center;
}


.walking-time {
    display: inline-flex;
    padding: 2rem 1rem 1rem;
    align-items: center;
}
.walking-time svg {
    height: 100%;
    width: 20%;
    margin-right: 1rem;
}


/* ================ DAY WEATHER INFO ======================= */

article {
    height: 90%;
    width: 100%;
    background: var(--white);
    border: solid 5px var(--black);
    border-radius: 52px;
    grid-column: 1/2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 0.5rem 2rem 3rem 5rem;
    align-items: center;
}
article div {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: repeat(4, 25%);
    align-items: center;
}
article p {
    font-size: 1.35rem;
}
article header {
    display: grid;
    height: 100%;
    grid-template-columns: 10% 90%;
    grid-template-rows: 60% 40%;
}
article header h2 {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0.7rem;
}
article header p {
    grid-column: 2;
    grid-row: 2;
    margin-top: -2rem;
    border: solid black 1px;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    background: var(--orange);
    border: 0.5px solid #000000;
    border-radius: 2px;
}
article header svg {
    grid-column: 1;
    grid-row: 1;
}


/* ================ PHONE DISPLAY ======================= */

@media screen and (max-width: 500px){
    header {
        width: 95vw;
    }

    body{
        padding: 1rem;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        height: fit-content;
    }

    #dog-picture {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    #description-and-form {
        width: 90%;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }
    form {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding-bottom: 1rem;
        width: 100%;
    }
    button {
        border-radius: 30px;
        padding: 1rem;
        width: 70%;
        height: 100%;
        color: #000000;
        margin-top: 1rem;
    }
    #house-icon {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }
    #location-input {
        height: 100%;
        width: 100%;
        padding: 1rem;
    }
    #weather-prediction {
        box-sizing: border-box;
        height: fit-content;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
        visibility: hidden;
        flex-direction: column;
    }
    .day-prediction {
        width: 80%;
        margin: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .header-day-prediction {
        height: fit-content;
        box-sizing: border-box;
    }
    .header-day-prediction div {
        padding-top: 1%;
        height: 50%;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    
    
    .walking-time {
        margin-top: 3rem;
        display: inline-flex;
        padding: 2rem 1rem 1rem;
        align-items: center;
    }
    .walking-time svg {
        height: 100%;
        width: 20%;
        margin-right: 1rem;
    }

}
